*{
    padding: 0px;
    margin: 0px;
} 
/* ============================ start section 1  =============================================== */

.section1{
    width: 100%;
    height: 150vh;
      background-color: black;
 
}
/* 0000000000000000000000000000000000 start navbar 0000000000000000000000000000000000 */

.section1 .navbar1 {
    width: 100%;
    overflow: hidden;
    /* background-color: black; */
    margin: auto;
    position: fixed; 
     top: 0; 
     right: 0; 
    left: 0; 
     z-index: 1030;
     background-image: url(../images/page-heading-bg.jpg);
      background-size: 100% 100%;
     text-align: center;
    
    
}
.section1 .navbar .log{
    
    padding-left: 143px;
}
.section1 .navbar1 .btn4 {
    background-color: rgb(247, 227, 227);
    text-align: center;
    font-size: 31px;
    padding-top: 10px;

}
.section1 .navbar1 .mina{
    padding-right: 144px;
}

.section1 .navbar1 .mina .child li {
    font-size: 20px;
    color: aliceblue;
    margin: auto;
    padding-right: 30px;
}

.section1 .navbar1 .mina .child li:hover {
    background-color: rgba(255, 255, 255, 0.234);
}

.section1 .navbar1 a {
    color: antiquewhite;

}

.section1 .navbar1 .mina .child li a button {
    border-radius: 50px;
    size: 25px;
}

/* 00000000000000000000000000000000000   end navabr 00000000000000000000000000000000000000 */
/*  =========================== start blog =========================================== */
.section1 .blog{
    width: 100%;
    height: 50vh;
    background-color: azure;
    background-image: url(../images/banner-bg.jpg);
    background-size: 100% 100%;
    border-radius: 80px;
    margin: auto;
}
.section1 .blog h1{

    padding-top: 15%;
    padding-left: 38%; 
    font-weight: bold;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.section1 .blog a{

    padding-top: 15%;
    padding-left: 46%;         
    color: black; 
}

/*  ========================== end blog========================  */


/* ============================ ======= end section 1  =============================================== */