* {
    padding: 0px;
    margin: 0px;
}

/* ============================ start section 1  =============================================== */

.section1 {
    width: 100%;
    height: 116vh;
    background-color: black;

}

/* 0000000000000000000000000000000000 start navbar 0000000000000000000000000000000000 */

.section1 .navbar1 {
    width: 100%;
    overflow: hidden;
    /* background-color: black; */
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-image: url(../images/page-heading-bg.jpg);
    background-size: 100% 100%;
    text-align: center;


}

.section1 .navbar .log {

    padding-left: 143px;
}

.section1 .navbar1 .btn4 {
    background-color: rgb(247, 227, 227);
    text-align: center;
    font-size: 31px;
    padding-top: 10px;

}

.section1 .navbar1 .mina {
    padding-right: 144px;
}

.section1 .navbar1 .mina .child li {
    font-size: 20px;
    color: aliceblue;
    margin: auto;
    padding-right: 30px;
}

.section1 .navbar1 .mina .child li:hover {
    background-color: rgba(255, 255, 255, 0.234);
}

.section1 .navbar1 a {
    color: antiquewhite;

}

.section1 .navbar1 .mina .child li a button {
    border-radius: 50px;
    size: 25px;
}

/* 00000000000000000000000000000000000   end navabr 00000000000000000000000000000000000000 */
/*  =========================== start blog =========================================== */
.section1 .blog {
    width: 100%;
    height: 50vh;
    background-color: azure;

    border-radius: 80px;
    margin: auto;
}

.section1 .blog img {
    width: 100%;
    height: 100%;

    border-radius: 80px;
}

.section1 .blog .heding {
    width: 50%;
    height: 10vh;
    background-color: blue;
    margin-top: -15%;
    text-align: center;
}

.section1 .blog .heding h1 {


    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section1 .blog .heding a {

    color: black;

}

/*  ========================== end blog========================  */
/* <!----------------- start container  img and text ========================= --> */
.section1 .single-product {
    width: 70%;
    height: 60vh;
    background-color: antiquewhite;
    margin-top: 40px;
    margin: auto;
    margin-top: 40px;
}

.section1 .single-product .Porduct {
    width: 100%;
    height: 100%;
    background-color: blue;
    margin: auto;
}

.section1 .single-product .Porduct .img-product {
    width: 50%;
    height: 100%;
    background-color: white;
    margin: auto;
}

.section1 .single-product .Porduct .img-product img {
    height: 100%;
    width: 100%;
}

.section1 .single-product .Porduct .text-tepy {
    width: 50%;
    height: 100%;
    background-color: brown;
    padding: 24px;
}

.section1 .single-product .Porduct .text-tepy h1 {
    font-size: 38px;
}

.section1 .single-product .Porduct .text-tepy .price {
    width: 100%;
    background-color: rgba(213, 1, 1, 0.642);
    height: 70px;
    display: flex;

}


.section1 .single-product .Porduct .text-tepy .price p {
    padding: 12px;
    font-weight: bold;
    color: rgba(202, 207, 212, 0.648);

}

.section1 .single-product .Porduct .text-tepy .plegrph {
    margin-top: 5px;
    font-size: 20px;
}

.section1 .single-product .Porduct .text-tepy .price h3 {
    padding-top: 8px;
    margin-left: -9px;
    font-weight: bold;
    color: blue;
}

.section1 .single-product .Porduct .text-tepy form {
    width: 59%;

    height: 50%;
    background-color: blue;
    display: flex;
}

.section1 .single-product .Porduct .text-tepy form input {
    background-color: aliceblue;
    width: 28%;
    padding-left: 27px;
    border-radius: 21px;
    margin-right: 41px;
    height: 60px;
    font-size: 51px;
}

.section1 .single-product .Porduct .text-tepy form button {
    width: 57%;
    height: 60px;
    font-size: 22px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #ffc107;
    color: black;
}

.section1 .single-product .Porduct .text-tepy form table {
    position: absolute;
    margin-top: 104px;
    font-size: 23px;
}

.section1 .single-product .Porduct .text-tepy form table td {
    padding-right: 40px;
    padding-top: 20px;
    color: rgb(102, 102, 222);
}

.section1 .single-product .Porduct .text-tepy form table td span {
    color: rgb(156, 152, 152);
}

/* <!----------------- end container  img and text ========================= --> */


/* -------------------------------- start  media taplet ------------------------------------ */
@media(max-width:768px) {
    .section1 {
        height: 200vh;
    }

    .section1 .blog {
        margin-bottom: 40px;
    }

    .section1 .blog .heding {
        width: 88%;
        height: 10vh;
        background-color: blue;
        margin-left: 0%;
        color: white;
        margin-top: -38%;
        text-align: center;
    }

    .section1 .blog .heding h1 {
        font-size: 51px;
    }

    .section1 .blog .heding a {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .section1 .single-product {
        width: 90%;
        height: 71vh;
        background-color: antiquewhite;
        margin-top: 40px;
        margin: auto;
    }

    .section1 .single-product .Porduct .img-product {
        margin-bottom: 20px;
    }

    .section1 .single-product .Porduct .text-tepy .plegrph {
        margin-top: 40px;
        font-size: 20px;
        margin-bottom: 55px;
    }

    .section1 .single-product .Porduct .text-tepy form table {
        position: absolute;
        margin-top: 104px;
        font-size: 25px;
    }
}

/* -------------------------------- end  media taplet ------------------------------------ */
/* -------------------------------- start  media phone 412px ------------------------------------ */

@media (max-width:412px) {
    .section1 {
        height: 234vh;
;
    }

    .section1 .navbar .log {
        padding-left: 13px;
    }
    .section1 .navbar .log img{
        width: 110px;
    }

    .section1 .blog .heding {
        margin-top: -63%;
    }

    .section1 .blog .heding h1 {
        font-size: 31px;
    }

    .section1 .blog .heding a {
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

    .section1 .single-product .Porduct .img-product {
        width: 106%;
    }

    .section1 .single-product .Porduct .text-tepy {
        width: 100%;
        height: 134%;
        padding-left: 0px;

    }

    .section1 .single-product .Porduct .text-tepy form {
        width: 88%;
        height: 29%;

    }

.section1 .single-product .Porduct .text-tepy form input {
    background-color: aliceblue;
    width: 23%;
   padding-left: 18px;
}
    .section1 .single-product .Porduct .text-tepy form table {
        font-size: 20px;
        margin-top: 104px;
}
.section1 .navbar1 .btn4 {
    background-color: rgb(247, 227, 227);
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}   
}






/* -------------------------------- end  media phone  412px------------------------------------ */


/* -------------------------------- start media phone 360px ------------------------------------ */
@media(max-width:360px){
    .section1 {
        height: 258vh;
    }
    .section1 .single-product .Porduct .text-tepy h1 {
    font-size: 32px;
    }
    .section1 .single-product .Porduct .text-tepy form button {
        font-size: 19px;}

    .section1 .single-product .Porduct .text-tepy {
        width: 100%;
        height: 177%
    }

        .section1 .single-product .Porduct .text-tepy form input {
            font-size: 42px;
        
        }
        .section1 .single-product .Porduct .text-tepy form table {
            font-size: 17px;}
}
/* -------------------------------- end  media phone 360px ------------------------------------ */

/* ============================ ======= end section 1  =============================================== */


/* ============================ ======= start section 2  =============================================== */

.section2{
    width: 100%;
    height: 100vh;
    background-color: orange;
    margin-top: 40px;
}

 .section2 .boder{
    width: 80%;
    height: 5px;
    background-color: rgb(62, 57, 57);
    border-radius: 40%;
    margin: auto;
 }
 /* ==================================== start navs  =========================== */
.section2 .navs{
    width:90%;
    background-color: azure;
    height: 30vh;
    margin: auto;
    margin-top: 65px;
    border-radius: 30px;
}
.section2 .navs .row button{
    font-size: 30px;
}

  /* =========================== end navs ========================== */



  /*  ============================= start card   .Related_Games  ===========================*/
.section2 .Related_Games {
    width: 80%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    margin-bottom: 77px;
}

.section2 .Related_Games p {
    font-size: 20px;
    color: #ffc107;
    font-weight: bold;
}

.section2 .Related_Games .text h1 {
    margin-bottom: 20px;
}

.section2 .Related_Games .child {
    width: 100%;
    /* background-color: rgb(235, 242, 242); */
    justify-content: space-between;
}

.section2 .Related_Games .child .card {
    border-radius: 30px;
    background-color: #008af8;
}

.section2 .Related_Games .child .card .card-img-top {
    width: 100%;
    height: 100%;
    border-radius: 30x;
}

.section2 .Related_Games .child .card .card-body a {
    width: 100%;
    position: absolute;
    height: 60px;
    margin-left: -95px;
    margin-top: -20px;
    border-radius: 24px;
}
  /*  =============================  end card  .Related_Games  ===========================*/


/* ===================================== start footer  ========================== */




.section2 .footer {
    width: 100%;
    height: 15vh;
    margin-top: px;
    /* background-color: burlywood; */
    background-image: url(../images/footer-bg.jpg);
    background-size: 52% -16%;
    border-radius: 50px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}

/* ============================================= end footer ========================= */

/* ================================= media taplat ======================== ============  */
@media(max-width:768px){
    .section2{
        height: 167vh;
    }
    .section2 .navs {
        width: 90%;
        background-color: azure;
        height: 35vh;
    }
    .section2 .Related_Games {
        width: 81%;
        height: 59%;
    }
  
    .section2 .Related_Games .child {
        margin-left: 25px;
    margin-bottom: 10px;
    }
    .section2 .Related_Games .child .card1{
margin-bottom: 2ex;
    }

}

/* ================================= media taplat ======================== ============  */




/* =================================== media phone ================================== */
@media(max-width:412px){
    .section2 {
        height: 312vh;
    }
    .section2 .navs {
        width: 90%;
        background-color: azure;
        height: 70vh;
    }
    .section2 .navs .row button {
        font-size: 20px;
    }
    .section2 .Related_Games {
        width: 81%;
        height: 66%;
    }
   
    

}


@media(max-width:360px){
    .section2 {
        height: 377vh;
    }
    .section2 .navs {
        width: 90%;
        background-color: azure;
        height: 76vh;
    }
    .section2 .navs .row button {
        font-size: 20px;
    }
     
    .section2 .Related_Games {
        width: 81%;
        height: 68%;
    }
    .section2 .footer {
        width: 100%;
        height: 18vh;
    }
    .section2 .Related_Games .child {
        margin-left: 11px;
        margin-bottom: 10px;}
   
}


/* =================================== media phone ================================== */
/* ============================ ======= end section 2  =============================================== */
